<div class="container">
    <div class="row row-50">
        <div class="col-lg-4">
            <h5
                class="font-weight-bold text-uppercase text-white">
                Về chúng tôi</h5>
            <p class="footer-advanced-text">Chung cư The
                Wisteria nằm tại cửa ngõ Thủ Đô, với quy
                hoạch độc đáo và nhiều tiện ích. Cư dân tại
                đây sẽ được sống trong môi trường xanh và
                tiện nghi hàng đầu, tạo nên một cộng đồng
                đẳng cấp và bền vững ở phía Tây Hà Nội.</p>
        </div>
        <div class="col-sm-7 col-md-5 col-lg-4">
            <h5
                class="font-weight-bold text-uppercase text-white">
                Tin nổi bật</h5>
            <!-- Post Inline-->
            <article class="post-inline">
                <p class="post-inline-title"><a
                        href="wto-ky-ket-quan-ly-va-phan-phoi-du-an-the-wisteria.html">WTO
                        ký kết quản lý và phân phối dự án
                        The Wisteria</a></p>
                <ul class="post-inline-meta">
                    <li>by Admin</li>
                </ul>
            </article>
            <!-- Post Inline-->
            <article class="post-inline">
                <p class="post-inline-title"><a
                        href="danh-gia-bat-dong-san-hoai-duc-ha-noi-nam-2023-xu-huong-va-trien-vong.html">Đánh
                        giá bất động sản Hoài Đức, Hà Nội
                        2023: Xu hướng và Triển vọng</a></p>
                <ul class="post-inline-meta">
                    <li>by Admin</li>
                </ul>
            </article>
        </div>
        <div class="col-sm-5 col-md-7 col-lg-4">
            <h5
                class="font-weight-bold text-uppercase text-white">
                Bộ sưu tập</h5>
            <div class="row row-x-10"
                data-lightgallery="group">
                <div class="col-3 col-sm-4 col-md-3"><a
                        class="thumbnail-minimal"
                        href="images/gallery-original-1.jpg"
                        data-lightgallery="item"><img
                            class="thumbnail-minimal-image"
                            src="images/footer-gallery-1-85x85.jpg"
                            alt="" />
                        <div
                            class="thumbnail-minimal-caption">
                        </div>
                    </a></div>
                <div class="col-3 col-sm-4 col-md-3"><a
                        class="thumbnail-minimal"
                        href="images/gallery-original-2.jpg"
                        data-lightgallery="item"><img
                            class="thumbnail-minimal-image"
                            src="images/footer-gallery-2-85x85.jpg"
                            alt="" />
                        <div
                            class="thumbnail-minimal-caption">
                        </div>
                    </a></div>
                <div class="col-3 col-sm-4 col-md-3"><a
                        class="thumbnail-minimal"
                        href="images/gallery-original-3.jpg"
                        data-lightgallery="item"><img
                            class="thumbnail-minimal-image"
                            src="images/footer-gallery-3-85x85.jpg"
                            alt="" />
                        <div
                            class="thumbnail-minimal-caption">
                        </div>
                    </a></div>
                <div class="col-3 col-sm-4 col-md-3"><a
                        class="thumbnail-minimal"
                        href="images/gallery-original-4.jpg"
                        data-lightgallery="item"><img
                            class="thumbnail-minimal-image"
                            src="images/footer-gallery-4-85x85.jpg"
                            alt="" />
                        <div
                            class="thumbnail-minimal-caption">
                        </div>
                    </a></div>
                <div class="col-3 col-sm-4 col-md-3"><a
                        class="thumbnail-minimal"
                        href="images/gallery-original-5.jpg"
                        data-lightgallery="item"><img
                            class="thumbnail-minimal-image"
                            src="images/footer-gallery-5-85x85.jpg"
                            alt="" />
                        <div
                            class="thumbnail-minimal-caption">
                        </div>
                    </a></div>
                <div class="col-3 col-sm-4 col-md-3"><a
                        class="thumbnail-minimal"
                        href="images/c:\Users\Administrator\Desktop\New folder\footer-gallery-6-85x85.jpg c:\Users\Administrator\Desktop\New folder\footer-gallery-7-85x85.jpg c:\Users\Administrator\Desktop\New folder\footer-gallery-8-85x85.jpg"
                        data-lightgallery="item"><img
                            class="thumbnail-minimal-image"
                            src="images/footer-gallery-6-85x85.jpg"
                            alt="" />
                        <div
                            class="thumbnail-minimal-caption">
                        </div>
                    </a></div>
                <div class="col-3 col-sm-4 col-md-3"><a
                        class="thumbnail-minimal"
                        href="images/gallery-original-7.jpg"
                        data-lightgallery="item"><img
                            class="thumbnail-minimal-image"
                            src="images/footer-gallery-7-85x85.jpg"
                            alt="" />
                        <div
                            class="thumbnail-minimal-caption">
                        </div>
                    </a></div>
                <div class="col-3 col-sm-4 col-md-3"><a
                        class="thumbnail-minimal"
                        href="images/gallery-original-8.jpg"
                        data-lightgallery="item"><img
                            class="thumbnail-minimal-image"
                            src="images/footer-gallery-8-85x85.jpg"
                            alt="" />
                        <div
                            class="thumbnail-minimal-caption">
                        </div>
                    </a></div>
            </div>
        </div>
    </div>
</div>